<a href="https://colab.research.google.com/github/ashna-jolly/python/blob/master/pycy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#count
n=int(input("enter any number: "))
count=0
while(n>0):
  count=count+1
  n=n//10
print("the number of digits in the given number is: ",count)

enter any number: 123
the number of digits in the given number is:  3

In [2]:
#even
a=input("enter the number: ")
c=int(a)%2
if(c==0):
  print(a,"is an even number: ")
else:
    print(a,"is an odd number: ")

enter the number: 23
23 is an odd number:

In [3]:
#factorial
n=int(input("enter any number: "))
fact=1
for i in range(1,n+1):
 fact = fact*i
print("The factorial of",n,"is",fact)

enter any number: 56
The factorial of 56 is 710998587804863451854045647463724949736497978881168458687447040000000000000

In [4]:
#fibonacci
n=int(input("enter any number: "))
x,y=0,1
count=0
if n<=0:
  print("enter a positive number")
elif n==1:
  print("Fibonacci sequence upto",n,":")
  print(x)
else:
  print("Fibonacci sequence:")
  while count<n:
      print(x)
      z = x+y
      x=y
      y=x
      count+=1

enter any number: 4
Fibonacci sequence:
0
1
1
1

In [5]:
#hello
print("Hello, World!")

Hello, World!

In [6]:
#integer
a=input("enter an integer: ");
print(a)

enter an integer: 3
3

In [7]:
#largest
a=input("enter first number: ")
b=input("enter second number: ")
c=input("enter third number: ")
if(a>b)&(a>c):
  print(a,"is the largest number")
elif(b>a)&(b>c):
  print(b,"is the largest number")
else:
  print(c,"is the largest number")

enter first number: 3
enter second number: 6
enter third number: 2
6 is the largest number

In [8]:
#lcm
def compute_lcm(x, y):
   if x > y:
       greater = x
   else:
       greater = y
   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1
   return lcm
a=int(input("enter the value of first number: "))
b=int(input("enter the value of second number: "))
print("The L.C.M. is",compute_lcm(a,b))

enter the value of first number: 3
enter the value of second number: 5
The L.C.M. is 15

In [9]:
#leap year
yr=int(input("enter a year: "))
if((yr%400==0) or ((yr%4==0) and (yr%100!=0))):
  print(yr,"is a leap year")
else:
  print(yr,"is not a leap year")

enter a year: 2019
2019 is not a leap year

In [10]:
#multitable
n=int(input("show the multiplication table of "))
for i in range(1, 11):
  print(n,'x', i, '=', n*i)

show the multiplication table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [11]:
#naturalsum
num=int(input("enter a number: "))
if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(num > 0):
       sum += num
       num -= 1
   print("The sum of natural numbers is", sum)

enter a number: 4
The sum of natural numbers is 10

In [12]:
#palindrome
n=int(input("enter a number: "))
rev=0
temp=n
while(temp>0):
  r=temp%10
  rev=(rev*10)+r
  temp=temp//10
print("reverse of this given number is",rev)
if(n==rev):
  print(n,"is a palindrome number")
else:
  print(n,"is not a palindrome number")

enter a number: 3
reverse of this given number is 3
3 is a palindrome number

In [13]:
#positive
a=input("enter the number: ")
if(int(a)>0):
  print(a,"is a positive number: ")
else:
  print(a,"is a negative number: ")

enter the number: -5
-5 is a negative number:

In [14]:
#power
n=int(input("enter a positive number: "))
e=int(input("enter the value of exponent: "))
p=1
for i in range(1,e+1):
  p=p*n
print("the power of",n,"^",e,"is",p)

enter a positive number: 5
enter the value of exponent: 7
the power of 5 ^ 7 is 78125

In [15]:
#product
a=input("enter first number: ")
b=input("enter second number: ")
sum=float(a)*float(b)
print("sum of float number: ",sum)

enter first number: 3
enter second number: 2
sum of float number:  6.0

In [16]:
#quotient
a=int(input("enter the first value: "))
b=int(input("enter the second value: "))
q=a//b
print("quotient: ",q)
r=a%b
print("remainder: ",r)

enter the first value: 45
enter the second value: 6
quotient:  7
remainder:  3

In [17]:
#reverse
x=int(input("enter a number to be reversed: "))
rev=0
while(x>0): 
    rev =(rev*10)+(x%10) 
    x= x// 10
print("reverse is",rev)

enter a number to be reversed: 56
reverse is 65

In [18]:
#sum
a=input("enter first number: ")
b=input("enter second number: ")
sum=int(a)+int(b);
print(sum)

enter first number: 5
enter second number: 5
10

In [19]:
#swap
a=input("enter a: ")
b=input("enter b: ")
print("a=",a)
print("b=",b)
a=int(a)+int(b)
b=int(a)-int(b)
a=int(a)-int(b)
print("After swapping: ")
print("a=",a)
print("b=",b)3

enter a: 4
enter b: 5
a= 4
b= 5
After swapping:
a= 5
b= 4

In [20]:
#vowel
ch=input("enter any character: ")
if(ch=='A'or ch=='E' or ch=='I' or ch=='O' or ch=='U' or ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u'):
  print(ch,"is a vowel")
else:
  print(ch,"is a consonant")

enter any character: malayalam
malayalam is a consonant