<a href="https://colab.research.google.com/github/ashna-jolly/python/blob/master/pythonc3bal1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#1
n=input("Enter your house number:")
hname=input("Enter your housename:")
p=input("Enter your place:")
d=input("Enter your district:")
s=input("Enter your state:")
c=input("Enter your country:")
pin=int(input("Enter your pincode:"))
print("\nAddress Details:\n" +"\nhouse number:",n,"\nhouse:",hname,"\nplace:",p,"\ndistrict:",d,"\nstate:",s,"\ncountry:",c,"\npincode",pin)

Enter your house number:12/2
Enter your housename:lob villa
Enter your place:kochi
Enter your district:ernakulam
Enter your state:kerala
Enter your country:india
Enter your pincode:688423

Address Details:

house number: 12/2
house: lob villa
place: kochi
district: ernakulam
state: kerala
country: india
pincode 688423

In [12]:
#3(a)
mylist =[12, 34, 56, -9, -7]
print("firstlist:" , mylist)
newlist =[x for x in mylist if x > 0]
print("newlist :",newlist)

firstlist: [12, 34, 56, -9, -7]
newlist : [12, 34, 56]

In [3]:
#3(b)
n=int(input("enter ther limit"))
l=[]
for i in range(0, n):
  num=int(input("enter no:"))
  l.append(num)
print("entered list", l)
l1=[i*i for i in l]
print("list of squres",l1)

enter ther limit5
enter no:4
enter no:5
enter no:3
enter no:6
enter no:2
entered list [4, 5, 3, 6, 2]
list of squres [16, 25, 9, 36, 4]

In [4]:
#3(c)
word = input("enter a word")
vowels= ['a', 'e', 'i', 'o', 'u']
list= []
for x in word:
  if(x in vowels and x not in list):
    list.append(x)
print("vowel present in the given word is:",list)

enter a wordhappiness
vowel present in the given word is: ['a', 'i', 'e']

In [5]:
#4
def word_count(str):
    counts = dict()
    words = str.split()
    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
    return counts

print( word_count('flowers are also called blossom.'))

{'flowers': 1, 'are': 1, 'also': 1, 'called': 1, 'blossom.': 1}

In [6]:
#5
x = []
n = int(input("enter any integers:"))
for i in range(1, n+1):
  a = int(input())
  if (a>100):
    x.append('over')
  else:
     x.append(a)
print("modified list:", x)

enter any integers:4
5
7
8
3
modified list: [5, 7, 8, 3]

In [9]:
#6
name = input("enter the names")
list = []
count = 0
for x in name:
   list.append(x)
   if (x in name and x == 'a'):
      count = count + 1
print(count)

enter the nameskeerthana anil
3

In [10]:
#8
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]
  return str1
print(change_char('ashna'))

ashn$

In [13]:
#9
a = input("enter a string")
print("new string :")
print(a[-1:] + a[1:-1] + a[0])

enter a string creation
new string :
ncreatio

In [14]:
#16
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(chars_mix_up('ashna', 'jolly'))

johna aslly